@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');



#Aboutuspage{
    $color_1: white;
$color_2: rgb(254,152,47);
$color_3: rgb(8,21,40);
$color_4: rgb(102,102,102);
$color_5: rgb(73,80,87);
$color_6: black;
$color_7: rgb(75,76,84);
$font-family_1: 'Poppins', sans-serif;
$font-family_2: 'Josefin Sans', sans-serif;
$background-color_1: rgb(254,152,47);
$background-color_2: rgb(8,21,40);
$background-color_3: white;
$background-color_4: rgb(245,245,245);
$background-color_5: rgb(248,249,250);
$background-color_6: black;
$background-color_7: transparent;
$background-color_8: rgb(13,28,51);
$background-color_9: rgb(17,17,17);

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
/* HEADER */
/* NAVBAR */
/* .navbar .list1 li i:hover{
    color:  rgb(8,21,40);
} */
/* Our team1 */
/* .main_div3 .img_div1 .inner1 .card1{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
width: 500px;

} */
/* .main_div4 .form_div .form option{
    color: rgb(73,80,87);
    padding: 10px;
} */
/* .footer_div1 .inner2 div{
    border: 2px solid red;
} */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
.setting {
	position: absolute;
	position: fixed;
	left: 0px;
	top: 200px;
	padding-top: 8px;
	height: 40px;
	width: 40px;
	text-align: center;
	font-size: 20px;
	color: $color_1;
	background-color: $background-color_1;
	z-index: 10;
}
.abc {
	animation: rotate;
	animation-duration: 1000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.home_button {
	position: absolute;
	position: fixed;
	right: 40px;
	top: 550px;
	padding-top: 8px;
	height: 40px;
	width: 40px;
	text-align: center;
	font-size: 20px;
	color: $color_1;
	background-color: $background-color_1;
	z-index: 10;
	a {
		color: $color_1;
		text-decoration: none;
	}
}
header {
	padding: 13px;
	padding-left: 680px;
	background-color: $background-color_2;
	display: flex;
	div {
		height: 25px;
		padding-top: 5px;
		color: $color_1;
		font-family: $font-family_1;
		font-weight: 400;
		font-size: 13px;
		&:nth-child(1) {
			padding-right: 15px;
			border-right: 1px solid rgb(57,68,83);
		}
		&:nth-child(2) {
			padding-left: 15px;
			padding-right: 15px;
			border-right: 1px solid rgb(57,68,83);
			.fa {
				margin-right: 8px;
				color: $color_2;
				font-size: 13px;
			}
			a {
				text-decoration: none;
				color: $color_1;
				font-family: $font-family_1;
				font-weight: 400;
				font-size: 13px;
				transition: all 0.5s;
				&:hover {
					color: $color_2;
				}
			}
		}
		&:nth-child(3) {
			padding-left: 15px;
			.fa {
				margin-right: 8px;
				color: $color_2;
				font-size: 13px;
			}
		}
	}
}
.navbar {
	padding: 18px 0px;
	display: flex;
	background-color: $background-color_1;
	justify-content: space-between;
	align-items: center;
	div {
		img {
			background-color: $background-color_3;
			padding: 30px 35px;
			position: absolute;
			left: 100px;
			top: 0px;
			z-index: 10;
		}
		&:nth-child(2) {
			display: flex;
		}
	}
	.list1 {
		margin-right: 25px;
		padding-top: 7px;
		li {
			list-style: none;
			display: inline;
			padding-left: 22px;
			a {
				position: relative;
				font-size: 17px;
				text-decoration: none;
				color: $color_1;
				font-family: $font-family_2;
				font-weight: 600;
				transition: all 5s;
				transition-timing-function: ease-in;
				transform-origin: left;
				&::after {
					height: 2px;
					width: 15px;
					border-radius: 2px;
					content: "";
					display: block;
					background-color: $background-color_3;
					position: absolute;
					bottom: 1;
					left: 0;
					transform: scalex(0);
					transition: transform 0.3s;
					transform-origin: left;
				}
				&:hover {
					&::after {
						transform: scaleX(1);
					}
				}
			}
			i {
				font-size: 20px;
				color: $color_1;
				transition: all 0.5s;
			}
		}
		a {
			&:nth-child(1) {
				&::after {
					height: 2px;
					width: 15px;
					border-radius: 2px;
					content: "";
					display: block;
					background-color: $background-color_3;
					position: absolute;
					bottom: 1;
					left: 0;
				}
			}
		}
	}
	.list2 {
		margin-right: 100px;
		li {
			list-style: none;
			display: inline;
			padding-left: 3px;
			i {
				border: 1px solid white;
				padding-top: 8px;
				height: 35px;
				width: 35px;
				text-align: center;
				font-size: 17px;
				color: $color_1;
				transition: all 0.5s;
				&:hover {
					border: 1px solid transparent;
					color: $color_2;
					background-color: $background-color_3;
				}
			}
		}
	}
}
.main_div1 {
	background-image: url(../Media/Home/slider-mainbg-003.jpg);
	height: 250px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	h1 {
		padding-top: 100px;
		font-family: $font-family_2;
		font-weight: 700;
		color: $color_1;
		font-size: 40px;
		margin-bottom: 5px;
	}
	a {
		color: $color_1;
		text-decoration: none;
		font-family: $font-family_2;
		font-weight: 700;
		transition: all 0.5s;
		&:hover {
			color: $color_2;
		}
	}
	.double_angle {
		color: $color_2;
	}
	.contact {
		color: $color_2;
		font-family: $font-family_2;
		font-weight: 600;
	}
}
.main_div2 {
	background-image: url(../Media/aboutus/row-bgimage.png);
	height: 120vh;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	.img_div {
		width: 50%;
		img {
			margin-left: 100px;
			margin-top: 80px;
		}
	}
	.text_div {
		width: 50%;
		margin-top: 100px;
		h3 {
			color: $color_2;
			font-family: $font-family_1;
			font-weight: 500;
			margin-left: 20px;
		}
		h1 {
			color: $color_3;
			width: 450px;
			margin-top: 10px;
			font-family: $font-family_2;
			font-weight: 700;
			margin-left: 20px;
		}
		p {
			color: $color_4;
			width: 530px;
			font-family: $font-family_1;
			font-weight: 400;
			font-size: 14px;
			margin-top: 30px;
			margin-left: 20px;
		}
		h2 {
			color: $color_3;
			font-family: $font-family_2;
			font-weight: 700;
			margin-top: 30px;
			margin-left: 20px;
		}
		.button_div {
			button {
				position: relative;
				margin: 20px;
				padding: 15px 30px;
				color: $color_1;
				cursor: pointer;
				background-color: $background-color_1;
				border: 2px solid rgb(254,152,47);
				z-index: 1;
				margin-top: 50px;
				&::after {
					background-color: $background-color_2;
					content: '';
					width: 190px;
					height: 53px;
					position: absolute;
					top: -2px;
					left: -1px;
					z-index: -1;
					transform: scalex(0);
					transition: transform 0.5s;
					transform-origin: left;
				}
				&:hover {
					&::after {
						transform: scalex(1);
					}
				}
			}
			a {
				text-decoration: none;
				color: $color_1;
				font-family: $font-family_2;
				font-weight: 600;
				font-size: 18px;
			}
		}
	}
}
.main_div3 {
	height: 100vh;
	width: 100%;
	display: flex;
	.img_div1 {
		background-image: url(../Media/aboutus/col-bgimage-6.png);
		height: 652px;
		width: 1055px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		display: flex;
		.inner1 {
			width: 505px;
			height: 472px;
			margin-left: 80px;
			margin-top: 80px;
			h1 {
				color: $color_3;
				font-family: $font-family_2;
				font-weight: 700;
				font-size: 36px;
				margin-left: 30px;
			}
			.card1 {
				div {
					&:nth-child(1) {
						display: flex;
						justify-content: space-between;
						background-color: $background-color_1;
						width: 500px;
						height: 60px;
						margin-left: 20px;
						margin-top: 30px;
						a {
							text-decoration: none;
							color: $color_1;
						}
						h2 {
							font-family: $font-family_2;
							font-weight: 700;
							font-size: 20px;
							margin-top: 20px;
							margin-left: 10px;
						}
						i {
							font-size: 20px;
							margin-top: 20px;
							margin-right: 10px;
						}
					}
					&:nth-child(2) {
						background-color: $background-color_3;
						width: 500px;
						height: 200px;
						margin-left: 20px;
						display: flex;
						img {
							margin-left: 20px;
							padding-top: 25px;
						}
						p {
							font-family: $font-family_1;
							font-weight: 400;
							font-size: 15px;
							color: $color_4;
							width: 289px;
							margin-left: 10px;
							padding-top: 20px;
						}
					}
				}
			}
			.card2 {
				display: flex;
				justify-content: space-between;
				background-color: $background-color_4;
				width: 500px;
				height: 60px;
				margin-left: 20px;
				margin-top: 30px;
				a {
					text-decoration: none;
					color: $color_3;
					transition: all 0.5s;
					&:hover {
						color: $color_2;
					}
				}
				h2 {
					font-family: $font-family_2;
					font-weight: 700;
					font-size: 20px;
					margin-top: 20px;
					margin-left: 10px;
				}
				i {
					font-size: 20px;
					margin-top: 20px;
					margin-right: 10px;
				}
			}
		}
		.inner2 {
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			width: 585px;
			height: 439px;
			position: absolute;
			right: 120px;
			z-index: 2;
			margin-top: 80px;
			background-color: $background-color_3;
			h1 {
				color: $color_3;
				font-family: $font-family_2;
				font-weight: 700;
				font-size: 40px;
				width: 500px;
				margin-top: 40px;
				margin-left: 25px;
			}
			p {
				color: $color_4;
				font-family: $font-family_1;
				font-weight: 400;
				font-size: 15px;
				width: 550px;
				margin-left: 25px;
				margin-top: 10px;
			}
			.range1 {
				margin-left: 25px;
				margin-top: 30px;
				div {
					&:nth-child(1) {
						display: flex;
						justify-content: space-between;
						width: 550px;
						position: relative;
						margin-bottom: 10px;
						font-family: $font-family_1;
						font-weight: 400;
						font-size: 15px;
						color: $color_4;
						&::before {
							background-color: $background-color_1;
							content: '';
							width: 13px;
							height: 13px;
							border-radius: 50%;
							border: 2px solid white;
							position: absolute;
							top: 28px;
							right: 45px;
						}
					}
					&:nth-child(2) {
						background-image: linear-gradient(to right,rgb(254,152,47) 90%,rgb(233,233,233) 10%);
						width: 550px;
						height: 7px;
					}
				}
			}
			.range2 {
				margin-left: 25px;
				margin-top: 30px;
				div {
					&:nth-child(1) {
						display: flex;
						justify-content: space-between;
						width: 550px;
						position: relative;
						margin-bottom: 10px;
						font-family: $font-family_1;
						font-weight: 400;
						font-size: 15px;
						color: $color_4;
						&::before {
							background-color: $background-color_1;
							content: '';
							width: 13px;
							height: 13px;
							border-radius: 50%;
							border: 2px solid white;
							position: absolute;
							top: 28px;
							right: 105px;
						}
					}
					&:nth-child(2) {
						background-image: linear-gradient(to right,rgb(254,152,47) 79%,rgb(233,233,233) 21%);
						width: 550px;
						height: 7px;
					}
				}
			}
			.range3 {
				margin-left: 25px;
				margin-top: 30px;
				div {
					&:nth-child(1) {
						display: flex;
						justify-content: space-between;
						width: 550px;
						position: relative;
						margin-bottom: 10px;
						font-family: $font-family_1;
						font-weight: 400;
						font-size: 15px;
						color: $color_4;
						&::before {
							background-color: $background-color_1;
							content: '';
							width: 13px;
							height: 13px;
							border-radius: 50%;
							border: 2px solid white;
							position: absolute;
							top: 28px;
							right: 45px;
						}
					}
					&:nth-child(2) {
						background-image: linear-gradient(to right,rgb(254,152,47) 90%,rgb(233,233,233) 10%);
						width: 550px;
						height: 7px;
					}
				}
			}
		}
	}
	.img_div2 {
		background-image: url(../Media/aboutus/col-bgimage-7.jpg);
		height: 652px;
		width: 485px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
	}
}
.main_div4 {
	height: 100vh;
	width: 100%;
	.background_image {
		background-image: linear-gradient(rgb(8,21,40,0.9),rgb(8,21,40,0.9)) ,url(../Media/aboutus/row-bgimage-8.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 70vh;
		margin-top: 25px;
		.text_div {
			text-align: center;
			padding-top: 90px;
			h3 {
				color: $color_2;
				font-family: $font-family_1;
				font-weight: 500;
				font-size: 17px;
			}
			h1 {
				color: $color_1;
				font-family: $font-family_2;
				font-weight: 700;
				font-size: 40px;
				padding-top: 10px;
				position: relative;
				&::after {
					height: 6px;
					width: 70px;
					border-radius: 2px;
					content: "";
					display: block;
					background-image: linear-gradient( to right,rgb(254,152,47) 50%, WHITE 50%);
					position: absolute;
					bottom: -25px;
					left: 47%;
				}
			}
		}
	}
	.form_div {
		display: flex;
		height: 90vh;
		width: 90%;
		margin-top: 70px;
		margin-left: 70px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		background-color: $background-color_3;
		.inner1 {
			margin-left: 50px;
			background-image: url(../Media/aboutus/col-bgimage-2.png);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			height: 90vh;
			width: 70%;
			.form {
				margin-top: 20px;
				margin-left: 30px;
			}
		}
		.text {
			h3 {
				margin-top: 80px;
				margin-left: 30px;
				color: $color_2;
				font-family: $font-family_1;
				font-weight: 500;
			}
			h1 {
				margin-top: 10px;
				margin-left: 30px;
				color: $color_3;
				font-family: $font-family_2;
				font-weight: 700;
			}
		}
		.form {
			input {
				background-color: $background-color_5;
				border: none;
				padding: 15px;
				margin: 10px;
				&:focus {
					border: 2px solid rgb(254,152,47);
					outline: none;
				}
			}
			input[type="text"] {
				width: 260px;
			}
			input[type="email"] {
				width: 260px;
			}
			input[type="number"] {
				width: 260px;
			}
			select {
				width: 545px;
				background-color: $background-color_5;
				border: none;
				padding: 15px;
				margin: 10px;
				color: $color_5;
				&:focus {
					border: 2px solid rgb(254,152,47);
					outline: none;
				}
			}
			textarea {
				background-color: $background-color_5;
				border: none;
				padding: 15px;
				margin: 10px;
				&::placeholder {
					font-size: 16px;
				}
				&:focus {
					border: 2px solid rgb(254,152,47);
					outline: none;
				}
			}
		}
		button {
			position: relative;
			width: 545px;
			padding: 15px 30px;
			color: $color_1;
			cursor: pointer;
			background-color: $background-color_1;
			border: none;
			margin-left: 40px;
			z-index: 1;
			&::after {
				background-color: $background-color_2;
				content: '';
				width: 545px;
				height: 50px;
				position: absolute;
				bottom: 0px;
				left: 0px;
				z-index: -1;
				transform: scalex(0);
				transition: transform 0.5s;
				transform-origin: left;
			}
			&:hover {
				&::after {
					transform: scaleX(1);
				}
			}
			a {
				text-decoration: none;
				color: $color_1;
				font-family: $font-family_2;
				font-weight: 600;
				font-size: 16px;
			}
		}
		.inner2 {
			background-image: url(../Media/aboutus/col-bgimage-8.jpg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			height: 90vh;
			width: 30%;
			position: relative;
			.div1 {
				height: 200px;
				width: 253px;
				text-align: center;
				color: $color_1;
				background-color: $background-color_1;
				position: absolute;
				top: 70px;
				left: -100px;
				i {
					font-size: 50px;
					margin-top: 30px;
				}
				a {
					text-decoration: none;
					color: $color_1;
					font-family: $font-family_2;
					font-weight: 700;
					transition: all 0.5s;
					&:hover {
						color: $color_3;
					}
				}
				p {
					font-family: $font-family_1;
					font-weight: 400;
					font-size: 15px;
				}
			}
			.div2 {
				height: 200px;
				width: 253px;
				text-align: center;
				color: $color_3;
				background-color: $background-color_5;
				position: absolute;
				bottom: 92px;
				i {
					font-size: 50px;
					margin-top: 30px;
				}
				a {
					text-decoration: none;
					color: $color_3;
					font-family: $font-family_2;
					font-weight: 700;
					transition: all 0.5s;
					&:hover {
						color: $color_2;
					}
				}
				p {
					font-family: $font-family_1;
					font-weight: 400;
					font-size: 15px;
				}
			}
		}
	}
}
.main_div5 {
	width: 100%;
	height: 100vh;
	.text_div1 {
		text-align: center;
		padding-top: 60px;
		margin-top: 200px;
		h3 {
			color: $color_2;
			font-family: $font-family_1;
			font-weight: 500;
			font-size: 17px;
		}
		h1 {
			color: $color_3;
			font-family: $font-family_2;
			font-weight: 700;
			font-size: 40px;
			padding-top: 10px;
			position: relative;
			&::after {
				height: 6px;
				width: 70px;
				border-radius: 2px;
				content: "";
				display: block;
				background-image: linear-gradient( to right,rgb(254,152,47) 50%, rgb(8,21,40)50%);
				position: absolute;
				bottom: -25px;
				left: 47%;
			}
		}
	}
	.card_div {
		display: flex;
		margin-left: 80px;
		margin-top: 40px;
	}
	.card {
		height: 370px;
		width: 250px;
		margin: 20px;
		.img_div {
			.overlay {
				content: "";
				height: 300px;
				width: 250px;
				background-color: $background-color_6;
				opacity: 0.5;
				position: absolute;
				top: 0px;
				left: 0px;
				transform: scaleY(0);
				transform-origin: bottom;
				transition: all 0.5s;
			}
			width: 250px;
			height: 300px;
			position: relative;
			overflow: hidden;
		}
		&:hover {
			.img_div {
				.overlay {
					transform: scaleY(1);
				}
				img {
					transition: all 0.5s ease-in-out;
					transform: scale(1.1,1.1);
				}
			}
			.text_div {
				.icon_div {
					transform: scaleY(1);
				}
				transform: translateY(20px);
			}
		}
		.text_div {
			.icon_div {
				height: 35px;
				width: 200px;
				background-color: $background-color_1;
				justify-content: center;
				align-items: center;
				position: absolute;
				bottom: 55px;
				left: 20px;
				display: flex;
				transform: scaleY(0);
				transform-origin: bottom;
				transition: all 0.5s;
				transition-timing-function: ease-in-out;
				a {
					font-size: 15px;
					margin: 0 5px;
					color: $color_1;
					text-align: center;
					transition: all 0.5s;
					&:hover {
						background-color: $background-color_1;
						color: $color_6;
					}
				}
			}
			height: 50px;
			width: 250px;
			text-align: center;
			background-color: $background-color_7;
			padding: 10px;
			transition: all 0.5s;
			a {
				text-decoration: none;
				font-family: $font-family_2;
				font-weight: 700;
				color: $color_3;
				font-size: 20px;
				transition: all 0.5s;
				&:hover {
					color: $color_2;
				}
			}
			h5 {
				font-family: $font-family_1;
				font-weight: 400;
				color: $color_4;
				padding-top: 5px;
			}
		}
	}
}
footer {
	height: 90vh;
	width: 100%;
	margin-top: 50px;
}
.footer_div1 {
	width: 100%;
	height: 120px;
	display: flex;
	.inner1 {
		background-color: $background-color_8;
		width: 30%;
		text-align: center;
		padding-top: 40px;
	}
	.inner2 {
		background-color: $background-color_1;
		width: 70%;
		display: flex;
		padding-top: 35px;
		i {
			margin-left: 40px;
			font-size: 50px;
			color: $color_1;
		}
		h2 {
			font-family: $font-family_2;
			font-weight: 700;
			color: $color_1;
			margin-left: 20px;
		}
		h4 {
			font-family: $font-family_1;
			font-weight: 400;
			color: $color_1;
			margin-left: 20px;
			font-size: 15px;
		}
		input {
			margin-left: 40px;
			border: none;
			outline: none;
			height: 50px;
			width: 200px;
			padding: 10px;
		}
		.mail {
			background-color: $background-color_2;
			color: $color_1;
			height: 50px;
			width: 50px;
			text-align: center;
			padding-top: 13px;
			font-size: 20px;
			margin-left: 0px;
			cursor: pointer;
		}
	}
}
.footer_div2 {
	background-image: linear-gradient(rgb(8,21,40,0.5),rgb(8,21,40,0.5)) ,url(../Media/Footer/footer-bg.jpg);
	height: 400px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	.max-width {
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
		height: 380px;
		display: flex;
		.footer1 {
			height: 380px;
			width: 390px;
		}
		.footer2 {
			height: 380px;
			width: 390px;
		}
		.footer3 {
			height: 380px;
			width: 390px;
		}
		.footer4 {
			height: 380px;
			width: 390px;
		}
	}
}
.footer1 {
	h2 {
		font-family: $font-family_2;
		font-weight: 700;
		color: $color_1;
		margin-top: 90px;
		margin-left: 20px;
	}
	.inner1 {
		display: flex;
		margin-left: 20px;
		margin-top: 30px;
		border-bottom: 1px solid rgb(23,35,55);
		padding-bottom: 13px;
		width: 250px;
		i {
			font-size: 20px;
			color: $color_2;
		}
		div {
			&:nth-child(2) {
				margin-left: 20px;
				color: $color_1;
				font-family: $font-family_1;
				font-weight: 400;
				font-size: 14px;
			}
		}
		a {
			color: $color_1;
			font-family: $font-family_1;
			font-weight: 400;
			font-size: 14px;
			text-decoration: none;
			transition: hover 0.5s;
			&:hover {
				color: $color_2;
			}
		}
	}
}
.footer2 {
	h2 {
		font-family: $font-family_2;
		font-weight: 700;
		color: $color_1;
		margin-top: 90px;
		margin-left: 20px;
	}
	.inner_div {
		display: flex;
		margin-left: 20px;
		.inner1 {
			width: 130px;
			margin-top: 10px;
			&:nth-child(2) {
				margin-left: 10px;
			}
			i {
				color: $color_2;
				margin-right: 5px;
				margin-top: 15px;
			}
			a {
				text-decoration: none;
				color: $color_1;
				font-family: $font-family_1;
				font-weight: 400;
				margin-left: 10px;
				font-size: 15px;
				transition: all 0.5s;
				&:hover {
					color: $color_2;
				}
			}
		}
	}
}
.footer3 {
	h2 {
		font-family: $font-family_2;
		font-weight: 700;
		color: $color_1;
		margin-top: 90px;
		margin-left: 20px;
	}
	.box1 {
		display: flex;
		img {
			margin-top: 30px;
			margin-left: 20px;
			height: 70px;
			width: 70px;
		}
		span {
			margin-top: 30px;
			font-size: 14px;
			margin-left: 20px;
			color: $color_1;
			font-family: $font-family_1;
			font-weight: 400;
			h5 {
				font-size: 14px;
				color: $color_1;
				font-family: $font-family_1;
				font-weight: 400;
				transition: all 0.5s;
				&:hover {
					color: $color_2;
				}
			}
			h6 {
				margin-top: 10px;
				font-size: 14px;
				color: $color_1;
				font-family: $font-family_1;
				font-weight: 400;
			}
		}
		&:nth-child(2) {
			border-bottom: 1px solid rgb(23,35,55);
			padding-bottom: 20px;
			width: 250px;
		}
	}
}
.footer4 {
	h2 {
		font-family: $font-family_2;
		font-weight: 700;
		color: $color_1;
		margin-top: 90px;
		margin-left: 20px;
	}
	h1 {
		font-family: $font-family_1;
		font-weight: 500;
		color: $color_2;
		margin-left: 20px;
		margin-top: 20px;
	}
	p {
		font-family: $font-family_1;
		font-weight: 400;
		color: $color_1;
		margin-left: 20px;
		margin-top: 20px;
		font-size: 15px;
	}
	button {
		position: relative;
		padding: 15px 30px;
		color: $color_2;
		cursor: pointer;
		background-color: $background-color_7;
		z-index: 1;
		border: 2px solid rgb(254,152,47);
		margin-left: 20px;
		margin-top: 30px;
		&::after {
			background-color: $background-color_1;
			color: $color_1;
			content: '';
			width: 251px;
			height: 51px;
			position: absolute;
			top: -2px;
			left: -3px;
			z-index: -1;
			transform: scalex(0);
			transition: all 0.5s;
			transform-origin: left;
		}
		&:hover {
			&::after {
				transform: scaleX(1);
			}
			a {
				color: $color_1;
			}
		}
		a {
			text-decoration: none;
			color: $color_2;
			font-family: $font-family_2;
			font-weight: 600;
			font-size: 15px;
			transition: all 0.5s;
		}
	}
}
.footer_div3 {
	width: 100%;
	height: 60px;
	background-color: $background-color_9;
	width: 100%;
	.max-width {
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
	}
	.footer5 {
		display: flex;
		justify-content: space-between;
		h3 {
			color: $color_1;
			padding-top: 19px;
			padding-left: 20px;
			font-size: 13px;
			font-family: $font-family_1;
			font-weight: 400;
		}
		.icon_div {
			color: $color_7;
			font-size: 18px;
			padding-top: 19px;
		}
		.fa {
			margin-left: 15px;
			&:hover {
				color: $color_1;
				cursor: pointer;
			}
		}
	}
}
@media screen and (min-width:320px) and (max-width:480px) {
	.home_button {
		left: 260px;
		top: 360px;
	}
	header {
		display: none;
	}
	.navbar {
		display: block;
		div {
			img {
				padding: 10px 10px;
				position: absolute;
				left: 28%;
				top: 0px;
				height: 100px;
			}
			&:nth-child(2) {
				display: block;
			}
		}
		.list1 {
			padding-top: 100px;
			text-align: center;
			li {
				list-style: none;
				display: block;
				padding-top: 22px;
			}
		}
		.list2 {
			margin-right: 0px;
			padding-top: 10px;
			text-align: center;
		}
	}
	.main_div2 {
		background-image: url(../Media/aboutus/row-bgimage.png);
		height: 120vh;
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		display: block;
		.img_div {
			img {
				margin-left: 15px;
				margin-top: 80px;
				width: 290px;
				height: 332.95px;
			}
		}
		.text_div {
			margin-top: 10px;
			p {
				width: 290px;
			}
			h2 {
				width: 300px;
			}
			h1 {
				width: 300px;
			}
			.button_div {
				button {
					width: 200px;
					height: 53px;
					&::after {
						width: 200px;
						height: 53px;
					}
				}
			}
		}
	}
	.main_div3 {
		display: block;
		margin-top: 800px;
		.img_div1 {
			height: 652px;
			width: 320px;
			display: block;
			.inner1 {
				width: 320px;
				height: 472px;
				margin-left: 0px;
				margin-top: 80px;
				h1 {
					margin-left: 15px;
				}
				.card1 {
					div {
						&:nth-child(1) {
							width: 290px;
							height: 60px;
							margin-left: 15px;
							margin-top: 30px;
						}
						&:nth-child(2) {
							background-color: $background-color_3;
							width: 290px;
							height: 200px;
							margin-left: 15px;
							display: block;
							img {
								margin-left: 20px;
								padding-top: 25px;
								width: 250px;
								height: 277.77px;
							}
							p {
								font-family: $font-family_1;
								font-weight: 400;
								font-size: 15px;
								color: $color_4;
								width: 250px;
								height: 168px;
								margin-left: 15px;
								padding-top: 20px;
							}
						}
					}
				}
				.card2 {
					display: flex;
					justify-content: space-between;
					background-color: $background-color_4;
					width: 290px;
					height: 60px;
					margin-left: 20px;
					margin-top: 300px;
				}
			}
			.inner2 {
				width: 300px;
				height: 509px;
				left: 10px;
				margin-top: 450px;
				h1 {
					width: 290px;
				}
				p {
					width: 280px;
				}
				.range1 {
					div {
						&:nth-child(1) {
							width: 260px;
							&::before {
								right: 20px;
							}
						}
						&:nth-child(2) {
							background-image: linear-gradient(to right,rgb(254,152,47) 90%,rgb(233,233,233) 10%);
							width: 260px;
							height: 7px;
						}
					}
				}
				.range2 {
					div {
						&:nth-child(1) {
							width: 260px;
							&::before {
								right: 40px;
							}
						}
						&:nth-child(2) {
							background-image: linear-gradient(to right,rgb(254,152,47) 79%,rgb(233,233,233) 21%);
							width: 260px;
							height: 7px;
						}
					}
				}
				.range3 {
					div {
						&:nth-child(1) {
							width: 260px;
							&::before {
								right: 20px;
							}
						}
						&:nth-child(2) {
							background-image: linear-gradient(to right,rgb(254,152,47) 90%,rgb(233,233,233) 10%);
							width: 260px;
							height: 7px;
						}
					}
				}
			}
		}
		.img_div2 {
			height: 652px;
			width: 320px;
			margin-top: 200px;
		}
	}
	.main_div4 {
		height: 100vh;
		width: 100%;
		margin-top: 1100px;
		.background_image {
			.text_div {
				h1 {
					&::after {
						left: 39%;
					}
				}
			}
		}
		.form_div {
			display: block;
			margin-top: 70px;
			margin-left: 15px;
			height: 600px;
			.inner1 {
				margin-left: 0px;
				.form {
					margin-top: 20px;
					margin-left: 10px;
				}
			}
			.text {
				h3 {
					margin-top: 80px;
					margin-left: 10px;
				}
				h1 {
					margin-top: 10px;
					margin-left: 10px;
					font-size: 25px;
					width: 290px;
				}
			}
			.form {
				select {
					width: 260px;
				}
				textarea {
					width: 260px;
					height: 100px;
				}
			}
			button {
				width: 260px;
				margin-left: 15px;
				&::after {
					width: 260px;
				}
			}
			.inner2 {
				margin-top: 200px;
				width: 290px;
				margin-left: 0px;
				height: 500px;
				.div1 {
					top: 50px;
					left: 20px;
				}
				.div2 {
					bottom: 52px;
					left: 20px;
				}
			}
		}
	}
	.main_div5 {
		width: 100%;
		height: 100vh;
		margin-top: 900px;
		.text_div1 {
			h1 {
				&::after {
					bottom: -25px;
					left: 39%;
				}
			}
		}
		.card_div {
			display: block;
			margin-left: 15px;
			margin-top: 40px;
		}
		.card {
			&:nth-child(2) {
				display: none;
			}
			&:nth-child(3) {
				display: none;
			}
			&:nth-child(4) {
				display: none;
			}
		}
	}
	footer {
		height: 90vh;
		width: 100%;
		margin-top: 200px;
	}
	.footer_div1 {
		display: block;
		.inner1 {
			width: 320px;
			height: 120px;
		}
		.inner2 {
			width: 320px;
			height: 236px;
			display: flex;
			i {
				margin-left: 15px;
			}
			h2 {
				margin-left: 20px;
				width: 208.3px;
				height: 90px;
				margin-bottom: 0px;
				font-size: 30px;
			}
			h4 {
				width: 208.3px;
				height: 42px;
				margin-top: 0px;
			}
			input {
				display: none;
			}
			.mail {
				display: none;
			}
		}
	}
	.footer_div2 {
		.max-width {
			display: block;
			.footer1 {
				height: 325px;
				width: 320px;
			}
			.footer2 {
				height: 270px;
				width: 320px;
				margin-top: 60px;
			}
			.footer3 {
				height: 284px;
				width: 320px;
				margin-top: 60px;
			}
			.footer4 {
				height: 273px;
				width: 320px;
			}
		}
		margin-top: 235px;
		height: 1400px;
	}
	.footer1 {
		h2 {
			padding-top: 80px;
			margin-left: 20px;
		}
	}
	.footer2 {
		h2 {
			margin-top: 0px;
		}
	}
	.footer3 {
		h2 {
			font-family: $font-family_2;
			font-weight: 700;
			color: $color_1;
			margin-top: 0px;
			margin-left: 20px;
		}
		.box1 {
			span {
				h5 {
					width: 208px;
				}
			}
		}
	}
	.footer_div3 {
		width: 320px;
		height: 100px;
		.footer5 {
			display: block;
			text-align: center;
			.icon_div {
				padding-top: 5px;
			}
		}
	}
}

}